<h1>SponsoredPosts#new</h1>
<%= form_for([@topic, @sponsoredpost]) do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
 
   <%= f.label :body %>
   <%= f.text_area :body %>

   <%= f.label :price %>
   <%= f.number_field :price %>
 
   <%= f.hidden_field :topic_id, :value => @topic.id %>
   <%= f.submit "Save" %>
 <% end %>
